.adminpage {
    padding: 20px
}

.divider{
    margin-right: 30%;
    margin-left: 30%;
}

.admin-menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.admin-menu *{
    margin: 5px;
}