.questions{
    margin-top: 10px;
    display: flex;
}

.vertical{
    flex-direction: column;
}

.horizontal{
    flex-direction: row;
    justify-content: space-evenly;
}

.question-btns{
    display: flex;
    justify-content: space-evenly;
}

.question{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hebrew{
    justify-content: right;
}

.english{
    justify-content: left;
    flex-direction: row-reverse;
}